$fondo-general: #fcfcfc;
$background-color1: #0096c7;
$background-color2: aliceblue;
$background-color3: #212529;
$color1: #212529;
$color2: aliceblue;
$color3: #0096c7;
$font-family_1: Arial, Helvetica, sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: auto;
    font-family: $font-family_1;
    background-color: $fondo-general;
}
ul{
    list-style: none;
}
header{
    background-color: $fondo-general;
    padding: 8px;
    top: 0;
    display: contents;
    position: fixed;
    nav {
        ul {
            li{
                color: $color1;
                margin: 0 10px;
            }
        }
    }
}
.split {
    background-color: $background-color1;
    height: 10px;
    width: 100%;
}
.titulo-carrusel{
    color: $background-color2;
    text-shadow: 0 0 9px rgb(58, 50, 50);
    font-size: 70px;
    font-weight: bold;
    font-family: $font-family_1;
}  
#hacer{
    text-align: center;
    font-size: 32px;
    font: bold;
    color: $color3;
    margin-top: 40px;
    background-color: $background-color2;
} 
#que-hacer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
}
.tit-hacer{
    text-align: center;
    border: 3px solid;
    background-color: $background-color1;
    color: $color2;
    border-radius: 15px;
    width: 130px;
    margin: 20px auto;
}
.texto-hacer{
    text-align: center justify;
    margin-top: 20px;
    line-height: 28px;
}
.img-hacer{
    width: 200px;
    height: 150px;
    border-radius: 10px;
    &:hover{
        transform: scale(1.1);
        transition: 300ms;
    }
}
#info-general{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
}
.info{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: $color3;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: $background-color2;
}
.titulo-info{
    text-align: center;
    border: 3px solid;
    background-color: $background-color1;
    color: $color2;
    border-radius: 15px;
    width: 130px;
    margin: 20px auto; 
}
.img-info{
    width: 280px;
    height: 170px;
    border-radius: 10px;
    &:hover{
        transform: scale(1.1);
        transition: 300ms;
    }
}
.texto-info{
    text-align: center justify;
    margin-top: 20px;
    line-height: 28px;
}
footer{
    margin-top: 30px;
    width: 100%;
    background-color: $background-color3;
    color: $color2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    ul{
        li{
            margin: 5px;
            font-weight: 400;
            line-height: 28px;
        } 
    }
}
.cont{
    color: $color3;
    padding: 15px;
}
.redes{
    color: $color3;
    padding: 15px;
}
.redes-iconos{
    display: flex;
    justify-content: flex-start;
    div{
        margin: 10px;
    }
}
.infoTitulo{
    text-align: center;
    color: $color3;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: $background-color2;
}
.titulo-informacion{
    font-size: x-large;
    font-style: italic;
    margin-top: 10px;
}
.split-info{
    background-color: $background-color2;
    height: 10px;
    margin-bottom: 10px;
}
.titulo-actividades{
    text-align: center;
    color: $color3;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: $background-color2;
}
.img-actividades{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.nombre-actividas{
    text-align: center;
}
.texto-actividades{
    text-align: center;
    line-height: 28px;
}
#act-recreacion{
    background-color: $background-color2;
}
#act-resto{
    background-color: $background-color2;
}
.titulo-historia{
    text-align: center;
    color: $color3;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: $background-color2;  
}
.texto-historia1{
    text-align: center;
    line-height: 28px;
    margin-top: 2.0rem;
    margin-bottom: 2.0rem;
    margin-right: 20px;
    margin-left: 20px;
    grid-area: hist-1;
}
.texto-historia2{
    text-align: center;
    line-height: 28px;
    margin-top: 2.0rem;
    margin-bottom: 2.0rem;
    margin-right: 20px;
    margin-left: 20px;
    grid-area: hist-2;
}
.texto-historia3{
    text-align: center;
    line-height: 28px;
    margin-top: 2.0rem;
    margin-bottom: 2.0rem;
    margin-right: 20px;
    margin-left: 20px;
    grid-area: hist-3;
}
.img-historia1{
    border-radius: 1.2rem;
    box-shadow: 3px 2px 5px black;
    margin-top: 2.0rem;
    margin-bottom: 2.0rem;
    width: 600px;
    height: 350px;
    grid-area: img-hist1;
}
.img-historia2{
    border-radius: 1.2rem;
    box-shadow: 3px 2px 5px black;
    margin-top: 2.0rem;
    margin-bottom: 2.0rem;
    width: 600px;
    height: 350px;
    grid-area: img-hist2;
}
.img-historia3{
    border-radius: 1.2rem;
    box-shadow: 3px 2px 5px black;
    margin-top: 2.0rem;
    margin-bottom: 2.0rem;
    width: 600px;
    height: 350px;
    grid-area: img-hist3;
}
.main-historia {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "img-hist1 hist-1""hist-2 img-hist2""img-hist3 hist-3";
    column-gap: 2rem;
    justify-content: space-around;
}
.titulo-noticias{
    text-align: center;
    color: $color3;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: $background-color2;    
}
.noticias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.card-noticia {
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    width: 90%;
    box-shadow: 0px 3px 5px rgba(13, 19, 26, 0.3098039216);
    &:hover {
        transform: translateY(4px);
    }
}
@media (max-width: 1020px){
    .img-logo{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 20%;
    }
    .nav-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    }
    .carrusel-1 {
        .carrusel-item{
            width: 100%;
            height: auto !important;
            margin-bottom: 1rem;
        }
    }
    .titulo-carrusel{
        font-size: 40px;
    }
    #que-hacer{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-content: center;
    }
    #info-general{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-content: center;
    }
    .img-pag-info{
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 50% !important;
    }
    .texto-pag-info{
        text-align: center;
    }
    .img-actividades{
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 400px !important;
        height: 300px !important;
    }
    .main-historia{
        display: flex;
        flex-direction: column;
    }
    .img-historia1{
        width: 400px;
        height: 300px;
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .img-historia2{
        width: 400px;
        height: 300px;
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .img-historia3{
        width: 400px;
        height: 300px;
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important; 
    }
    .noticias{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
    }
}