*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fcfcfc;
}
ul{
    list-style: none;
}
  /* head */
header{
    background-color: #fcfcfc;
    padding: 8px;
    top: 0;
    display: contents;
    position: fixed;
}
header nav ul li{
    color: #212529;
    margin: 0 10px;
}
.split {
    background-color: #0096c7;
    height: 10px;
    width: 100%;
}
@media (max-width: 1020px){
    .img-logo{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 20%;
    }
    .nav-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    }
}
  /* carrusel */
.carousel-item{
    height: 500px;
}
.titulo-carrusel{
    color: aliceblue;
    text-shadow: 0 0 9px rgb(58, 50, 50);
    font-size: 70px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}  
@media (max-width: 1020px){
    .carrusel-1 .carrusel-item{
        width: 100%;
        height: 30rem !important;
        margin-bottom: 1rem;
    }
    .titulo-carrusel{
        font-size: 40px;

    }
}
/* BODY */
#hacer{
    text-align: center;
    font-size: 32px;
    font: bold;
    color: #0096c7;
    margin-top: 40px;
} 
#que-hacer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
}
.tit-hacer{
    text-align: center;
    border: 3px solid;
    background-color: #0096c7;
    color: aliceblue;
    border-radius: 15px;
    width: 130px;
    margin: 20px auto;
}
.texto-hacer{
    text-align: center justify;
    margin-top: 20px;
    line-height: 28px;
}
.img-hacer{
    width: 200px;
    height: 150px;
    border-radius: 10px;
}
.img-hacer:hover{
    transform: scale(1.1);
    transition: 300ms;
}
@media (max-width: 1020px){
    #que-hacer{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-content: center;
    }
}
#info-general{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
}
.info{
    text-align: center;
    font-size: 32px;
    font: bold;
    color: #0096c7;
    margin-top: 30px;
    margin-bottom: 20px;
}
.titulo-info{
    text-align: center;
    border: 3px solid;
    background-color: #0096c7;
    color: aliceblue;
    border-radius: 15px;
    width: 130px;
    margin: 20px auto;
}
.img-info{
    width: 280px;
    height: 170px;
    border-radius: 10px;
}
.img-info:hover{
    transform: scale(1.1);
    transition: 300ms;
}
.texto-info{
    text-align: center justify;
    margin-top: 20px;
    line-height: 28px;
}
@media (max-width: 1020px){
    #info-general{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-content: center;
    }
}
footer{
    margin-top: 30px;
    width: 100%;
    background-color: #212529;
    color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}
.cont{
    color: #0096c7;
    padding: 15px;
}
.redes{
    color: #0096c7;
    padding: 15px;
}
footer ul li{
    margin: 5px;
    font-weight: 400;
    line-height: 28px;
}
.redes-iconos{
    display: flex;
    justify-content: flex-start;
}
.redes-iconos div{
    margin: 10px;
}
/*
INFORMACION GENERAL
*/
.infoTitulo{
    text-align: center;
    color: #0096c7;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 40px;
    
    background-color: aliceblue;
}
.img-info1,
.img-info2,
.img-info3,
.img-info4,
.img-info5{
    justify-content: center;
}
.titulo-informacion{
    font-size: x-large;
    font-style: italic;
}
.split-info{
    background-color: aliceblue;
    height: 10px;
}
